*::after,::before{
    padding: 0;
    margin: 0;
    border: 0;
}
li{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
body{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}
[class*="__container"]{
    margin: 0 auto;
    max-width: 1200px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/**********************************************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(114, 24, 24);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0px 30px;
}

.header__logo {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 15;
}

.header__menu {}

.header__list {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    position: relative;
}

.header__link {
    font-size: 18px;
    color: #FFF;
    display: block;
    padding: 10px 0px;
}

.header__sub-list {
    position: absolute;
    top: 0;
    right: 50px;
    background-color: rgba(212, 112, 65, 0.884);
    padding: 10px 15px;
    border-radius: 7px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 40px);
    pointer-events: none;
}

@media (min-width:768.1px){
    .header__list li:hover .header__sub-list{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    .header__sub-list{
        transition: all 0.7s ease 0s;
    }
}

.header__sub-list > li{
    margin-bottom: 5px;
}
.header__sub-list > li:last-child{
    margin-bottom: 0;
}
.header__sub-link{
    color: #FFF;
}
.header__sub-link:first-child{
}
.header__link-title{
    position: relative;
}


/**********************************************************/

.page {

}

.page__container {
    display: flex;
    flex-direction: column;
    row-gap: 3%;
}

.page__block {
    padding: 100px 30px 30px 30px;
}
.page__block_2 {
    background-color: rgb(20, 33, 90);
}

.page__block_3 {
    background-color: rgb(61, 17, 90);
}

.page__block_1 {
    background-color: rgb(77, 109, 51);
}

.page__title {
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 30px;
    color: #FFF;
}

.page__sub-title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 25px;
    color: #FFF;
}

.page__text-block {}
.page__text-block > p {
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 2px;
}


/********************************************/

.icon-menu {
    position: relative;
    height: 18px;
    width: 30px;
    display: none;
    z-index: 15;
}
.icon-menu::before, .icon-menu::after, .icon-menu span{
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 30px;
    transition: all 0.3s ease 0s;
}
.icon-menu::before{
    content: '';
    bottom: 0;
    left: 0;
    
}
.icon-menu::after{
    content: '';
    top: 0;
    left: 0;
}
.icon-menu span{
    top: 50%;
    transform: scale(1) translate(0,-50%);
}
.icon-menu._active::before{
    bottom: 50%;
    transform: rotate(-45deg) translate(0, 50%);
}
.icon-menu._active::after{
    top: 50%;
    transform: rotate(45deg) translate(0, -50%);
}
.icon-menu._active span{
    transform: scale(0);
}
@media (max-width: 768px){
    .icon-menu{
        display: block;
        z-index: 2;
    }
    .header__menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        transition: left 0.3s ease 0s;
    }
    body._lock{
        overflow: hidden;
    }
    .header__menu._active{
        left: 0;
        overflow: auto;
    }
    .header__menu::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: rgb(114, 24, 24);
        z-index: 15;
    }
    .header__menu._active .header__list{
        top: 50px;
        display: flex;
        flex-direction: column;
    }
    .header__menu._active .header__list .header__link{
        font-size: 26px;
        margin-bottom: 15px;
    }
    .header__list{
        top: 75px;
        display: flex;
        flex-direction: column;
        padding-top: 25px;
    }
    .header__list li:hover .header__sub-list{
        opacity: 0;
        visibility: hidden;
        margin-right: 30px;
        pointer-events: all;
        position: absolute;
    }
    .header__list .header__link{
        font-size: 26px;
        margin-bottom: 16px;
    }
    .header__sub-list{
        margin-right: 30px;
    }
    .header__menu._active._open .header__sub-list{
        position: relative;
        top: -50px;
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        left: 0;
        transition: all 0.7s ease 0s;
        /*transition: all 0.7s ease 0s;
        z-index: 20;*/
    }
}


/**********************************************/